@namespace xml url('http://www.w3.org/XML/1998/namespace');

TEI {
    font-family: sans-serif;
}

dictScrap,
entry,
entryFree,
form,
label,
p,
TEI,
text {
    display: block;
}

body {
    display: block;
    background: #fff;
    color: #888;
    max-width: 40rem;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
}

entry,
entryFree {
    display: block;
    margin: 1rem 0;
}

p {
    text-align: justify;
}

sense {
    display: block;
    text-align: justify;
    text-indent: 1rem;
}

emph,
hi {
    font-style: italic;
}

foreign {
    display: block;
    color: #080;
}

foreign:before {
    color:#888;
    content: "["attr(xml|lang)"] ";
}

teiHeader {
    display: none;
}

dictScrap {
    border: 0.5px solid #ccc;
    padding: 0.2rem 0.5rem;
    margin: 2px 0;
}

ref {
    color: blue;
    font-variant-caps: small-caps;
}

term {
    font-weight: bold;
    color: #000;
}

orth {
    font-weight: bold;
    color: red;
    font-variant-caps: small-caps;
}

label {
    text-indent: 5rem;
    font-weight: bold;
    color: #888;
    margin: 1rem 0;
}

pb {
    color: #888;
    display: block;
    border-bottom: 0.5px solid #ccc;
    text-align: right;
    font-size: 0;
}

cb {
    color: #888;
    display: block;
    border-bottom: 0.5px dotted #ccc;
    text-align: right;
    font-size: 0;
}

pb[n]:before {
    font-size: 12px;
    display: block;
    float: right;
    content: "p. "attr(n);
}

cb[n]:before {
    font-size: 12px;
    display: block;
    float: right;
    content: attr(n);
}

lb:before {
    content: ' ';
    display: block;
}